version: "3.9"

services:

  db:
    image: postgres:15
    container_name: examprep_postgres
    environment:
      POSTGRES_DB: examprep_dost
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: examprep_redis
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: examprep_web
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery:
    build: .
    container_name: examprep_celery
    command: celery -A hello worker -l info -P solo
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data:
